.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-sm);
  margin-bottom: var(--space-xlg);
}

.list {
  display: flex;
  gap: var(--space-lg);
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
  }
}
